.gray{
    background-color: #ebebeb;
}
.container {
    width: 992px;
    margin:0 auto;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.login-wrap {
    width: 360px;
    background: #fff;
    border-radius: 8px;
    position: relative;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 55px;
    padding-top: 45px;
    margin: 100px auto;
}

.account-login {
    width: 100%;
    font-size: 30px;
    font-family: OpenSans, sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 35px;
}

.form-group {

}
.form-group label {
    font-size: 13px;
    text-transform: uppercase;
    font-family: OpenSans, sans-serif;
    padding-bottom: 10px;
    display: block;
    margin-top: 10px;
}
.form-group input {
    width: 100%;
    height: 45px;
    padding: 0 25px 0 25px;
    box-sizing: border-box;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: OpenSans, sans-serif;
}
.form-group small{
    font-family: OpenSans, sans-serif;
}
.success{
    color: green;
}
.danger{
    color: red;
}

.push-right{
    float: right;
}
.form-control {

}

.remember-me {
    font-size: 16px;
    color: #99999;
    font-family: OpenSans, sans-serif;
    color: #333;
    float: left;
}

.forgot-password {
    float: right;
    margin-top: 3px;
}
.forgot-password a{
    color: #006fb7;
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
}
.btn-blue{
    color: #006fb7;
}

.btn-wrap {
    clear: both;
}

.btn {
    font-family: OpenSans, sans-serif;
    border-radius: 3px;
    border:1px solid;
    padding: 10px 15px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btn-dark {
    background: #333;
    color: #fff;
}
.btn-login{
    margin-top: 20px;
}
